[submodule "plutus"]
	path = plutus
	url = https://github.com/input-output-hk/plutus
[submodule "plutus-pioneer-program"]
	path = plutus-pioneer-program
	url = https://github.com/input-output-hk/plutus-pioneer-program
